{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<nav>
</nav>

<div class="small-screen">
  <h1>Best viewed on screens 960px+</h1>
  <p>Study on <a href="https://github.com/chloehwang/carousel01" target="_blank">Carousels</a></p>
  <p>Made by <a href="https://chloehwang.github.io/" target="_blank">Chloe Hwang</a></p>
  <p>Copyright <span>2018</span></p>
</div>

<div class="carousel" data-module="Carousel">
  {# small viewport #}
  <div class="carousel__viewport -small">
    <div class="item-wrapper"><div class="item bg-1"></div></div>
    <div class="item-wrapper"><div class="item bg-2"></div></div>
    <div class="item-wrapper"><div class="item bg-3"></div></div>
    <div class="item-wrapper -active"><div class="item bg-4"></div></div>
  </div>

  <div class="carousel__content">
    <p>Collection</p>
  </div>

  {# large viewport #}
  <div class="carousel__viewport -large">
    <div class="item-wrapper -active"><div class="item bg-1"></div></div>
    <div class="item-wrapper"><div class="item bg-2"></div></div>
    <div class="item-wrapper"><div class="item bg-3"></div></div>
    <div class="item-wrapper"><div class="item bg-4"></div></div>
  </div>

  <footer>
    {# controls #}
    <div class="carousel__controls">
      <button class="carousel__control" data-dir="prev" aria-label="previous"></button>
      <button class="carousel__control -next" data-dir="next" aria-label="next"></button>
    </div>

    <p class="view-link">View Collection</p>

    {# counter #}
    <p class="carousel__counter-wrapper">
      <span class="carousel__counter">1</span> / 4
    </p>
  </footer>
</div>
{% endblock %}
