{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

  <nav>
    hello this is nav
  </nav>


  <div class="carousel" data-module="Carousel">

    {# prev viewport #}
    <div class="carousel__viewport -prev">
      <div class="item">1</div>
      <div class="item">2</div>
      <div class="item">3</div>
      <div class="item -active">4</div>
    </div>

    {# curr viewport #}
    <div class="carousel__viewport -current">
      <div class="item -active">1</div>
      <div class="item">2</div>
      <div class="item">3</div>
      <div class="item">4</div>
    </div>

    {# controls #}
    <button class="controls -prev">< Previous</button>
    <button class="controls -next">Next ></button>
  </div>





{% endblock %}
