{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

<nav>
  hello this is nav
</nav>


<div class="carousel" data-module="Carousel">

  {# small viewport #}
  <div class="carousel__viewport -small">
    <div class="item-wrapper"><div class="item"></div></div>
    <div class="item-wrapper"><div class="item"></div></div>
    <div class="item-wrapper"><div class="item"></div></div>
    <div class="item-wrapper -active"><div class="item"></div></div>
  </div>

  {# text content #}
  <div class="carousel__content">
    <p>Collection</p>
    <p class="counter-wrapper">
      <span class="counter">1</span> / 4
    </p>
    <p>View Collection</p>
  </div>

  {# large viewport #}
  <div class="carousel__viewport -large">
    <div class="item-wrapper -active"><div class="item"></div></div>
    <div class="item-wrapper"><div class="item"></div></div>
    <div class="item-wrapper"><div class="item"></div></div>
    <div class="item-wrapper"><div class="item"></div></div>
  </div>

  {# controls #}
  <button class="controls -prev">Previous</button>
  <button class="controls -next">Next</button>
</div>



{% endblock %}
