footer {
  align-items: center;
  bottom: 0;
  display: flex;
  font-family: 'Khula';
  font-size: 15px;
  font-weight: bold;
  height: calc(100% - #{$sm-carousel-height} - #{$sm-carousel-margin-top} - 27px);
  justify-content: space-between;
  position: absolute;
  width: calc(100% - #{$viewport-width-lg});
}

.view-link {
  border-bottom: 2px solid black;
}
