// @media screen and (max-width: 959px) {
//   body {
//     background-image: linear-gradient(45deg, #802120, #cd624e);

//     * {
//       display: none;
//     }
//   }
// }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Timmana'
}

nav {
  height: $nav-height;
  min-height: $nav-min-height;
  padding: 0 10vw;
}
