* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Timmana'
}

nav {
  height: $navHeight;
  min-height: $navMinHeight;
  padding: 0 10vw;
}
